<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>

  <system.webServer>
    <!-- Ensure all requests are handled by our EchoHandler -->
    <handlers>
      <clear />
      <add name="EchoHandler"
           path="*"
           verb="*"
           type="HttpStub.EchoHandler, HttpStub"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>

